*{
    margin: 0%;
    padding: 0%;
    box-sizing:  border-box;
    font-family: 'Times New Roman';
}

footer/*colores */
{
    width: 100%;
    text-decoration: none;
    color: linen;
    background-color:rgb(54, 54, 54);
    justify-content:space-between;
}

.contenedor-footer/*contededor de todo el footer */
{
width: 100%;
max-width: 1000px;
padding-top: 50px;
margin-left: 250px;
}
.contenedor_cuerpo
{
    display: flex;
    height:300px ;
}
.columna1/*primera columna del div*/
{
    max-width: 400px;
    margin-left: 20px;
}
.columna1 h1
{
    font-size: 22px; 
    color:rgb(111, 213, 247);
}
.columna2
{
    max-width:400px;
    margin-left: 80px;
}
.columna2 h1
{
    font-size: 22px; 
    color:rgb(111, 213, 247);
}
.columna3
{
    margin-left: 80px;
}
.columna3 h1
{
    font-size: 22px; 
    color:rgb(111, 213, 247);
}
.row
{
    margin-top: 20px;
    display: flex;
}
.row img
{
    width: 36px;
    height: 35px;
}
.row label
{
    margin-left: 12px;
}

.form
{
    width: 150px;
    height: 150px;
}
.form
{
    margin-top: 20px;
    display: flex;
}
@media screen and (max-width:1100px)
{
    .contenedor_cuerpo
    {
        flex-wrap:wrap;
    }
}/*
a :hover
{
    color: orangered;
}
a:visited
{
    color: slategray;
}*/
#rotaciones:hover
{
-webkit-transform: rotate(30deg);
            
}
.social a
{
    display: inline-flex;
    color:white;
    height: 48px;
    width: 48px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s;
}
.social a:hover
{
    transform: scale(1.4);
}
.social a.facebook
{
    background-color: cornflowerblue;
} 
.social a.twitter
{
    background-color: deepskyblue;
}
.social a.youtube
{
    background-color: firebrick;
}
.social a.whatsapp
{
    background-color:limegreen;
}
