*{
    margin: 0%;
    padding: 0%;
    box-sizing:  border-box;
    font-family: 'Times New Roman';
}

footer{
    width: 100%;
    text-decoration: none;
    color: rgb(112, 23, 196);
    background-color: rgb(8, 5, 14);
    justify-content:space-between;
}

.contenedor-footer
{
width: 100%;
max-width: 1600px;
padding-top: 50px;
padding-left: 80px;
}
.contenedor_cuerpo
{
    display: flex;
    height:300px ;
}
.columna1{
    max-width: 400px;
    margin-left: 20px;
}
.columna1 h1
{
    font-size: 22px; 
    color: aqua; 
}
.columna2
{
    max-width:400px;
    margin-left: 80px;
}
.columna2 h1
{
    font-size:22px;
    color: aqua;

}
.row
{
    margin-top: 20px;
    display: flex;
}
.row img
{
    width: 36px;
    height: 35px;
}
.row label
{
    margin-left: 12px;
}
.columna3
{
    margin-left: 80px;
}
.columna3 h1
{
    font-size: 22px;
    color:aqua;
}
.form
{
    width: 150px;
    height: 150px;
}
.form
{
    margin-top: 20px;
    display: flex;
}
@media screen and (max-width:1100px)
{
    .contenedor_cuerpo
    {
        flex-wrap:wrap;
    }
}