* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url(https://www.xtrafondos.com/wallpapers/ciudad-nocturna-en-arte-neon-3474.jpg);
    height: 752px;
    background-size: cover;
    background-repeat: no-repeat;
}
/**Contenedor img header**/
.contenedor-imagen {
	height: 100vh;
}

.contenedor-imagen img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	object-fit: cover;
	object-position: 0 bottom;
}
/**FIN img header**/
section {
    min-width: 1000px;
    margin: auto;
    padding: 30px 0;
}
section h1 {
    font-size: 25px; /*tamaño de letra*/
    padding-left: 15px;
}

.conte {
    text-align: center;
}
.conte p {
    font-size: 100px; /*tamaño de letra*/
    font-weight: bold; /*Fuente*/
    margin-top: 200px;
}
.conte h2 {
    font-size: 20px; /*tamaño de letra*/
    font-weight: bold; /*Fuente*/
    margin: 0.5em 0; /*margin hacia los costados*/
}
.conte a {
    color: white; 
    text-decoration: none;
    padding:20px;
    border-radius: 20px;
    font-size: 50px;
    margin: 10px;
    padding: 0rem;
    transition:all .9s ease;
}
.conte a :hover{
    transform:scale(1.10);
}
/** FIN HEADER**/
/**BARRA DE NAVEGACION**/
.navbar {
    background: #202c3a;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	transition: .3s ease-out all;
}

.navbar a:hover {
	color: #fff;
	text-decoration: none;
}

.contenedor-nav {
	max-width: 1300px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
/**Boton Neon NAV**/

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    /*transition-delay: 1s;   /**borrame**/
}
    
.btn-neon span {
    position: absolute;
    display: block;
}
    
#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
/**Boton Neon TITULO**/
.btn-neon-title {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 25px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.btn-neon-title:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;   /**borrame**/
}
    
.btn-neon-title span {
    position: absolute;
    display: block;
}
    
#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
    
.btn-neon-title:hover #span1{
    left: 100%;
    transition: 1s;
}
    
#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
    
.btn-neon-title:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
    
#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
    
.btn-neon-title:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
        
#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
    
.btn-neon-title:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/**BARRA LATERAL___ASIDE**/


aside .titulo {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 20px;
	color: #f2f2f2;
}

aside .indice a {
	display: block;
	margin-bottom: 10px;
	color: #FFCD48;
}
/**FIN ASIDE**/
